@keyframes deform1{
   
	0% {d:path('M292,375.8c0,0,0,0,0,0');
	}

	100% {d:path('M292,375.8c117.3-84.9-90.9-125,33.2-233.4');
	}
}



@keyframes deform2{
   
	0% {d:path('M320.1,294.9c0,0,0,0,0,0C320.1,294.9,320.1,294.9,320.1,294.9');
	}

	100% {d:path('M320.1,294.9c0,0-52.7-72.5-123.4-22.2C196.8,272.7,246.2,332.3,320.1,294.9');
	}
}
@keyframes deform3{
   
	0% {d:path('M294.5,233.8c0,0,0,0,0,0C294.5,233.8,294.5,233.8,294.5,233.8');
	}

	100% {d:path('M294.5,233.8c-1.1,1.5,35.9-55.9,115.8-24.9C410.3,208.9,377.3,270,294.5,233.8');
	}
}
@keyframes deform4{
   
	0% {d:path('M327.9,131.4c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0C327.9,131.4,327.9,131.4,327.9,131.4c0,0,0,0,0,0c0,0,0,0,0,0');
	}

	100% {d:path('M327.9,131.4c0.8,16.3,6.8,29.4,28.7,22.9c23.8-7.1,22.3-21.5,13.3-35.4c15.7,4.9,30.1,3,30.9-20.2c0.8-24.9-13.5-27.8-29.6-23.6c9.5-13.4,12.2-27.7-9.6-35.6c-23.4-8.5-30.7,4.3-31.6,20.8c-9.8-13.2-22.6-20.1-36.8-1.8C277.9,78.2,287.7,89,303.2,95c-15.6,5.2-26.1,15.2-13.1,34.4c13.9,20.6,26.9,14.4,37.4,1.6');
	}
}


#animate1 {
  animation: deform1 1s ease 2s forwards;
  stroke:#87CCC9;
  stroke-width:10px;
  fill:none;
  }
  
  #animate2 {
  animation: deform2 1s ease 3s  forwards;
  stroke:#87CCC9;
  stroke-width:10px;
  fill:none;
  }

    #animate3 {
  animation: deform3 1s ease 4s  forwards;
  stroke:#87CCC9;
  stroke-width:10px;
  fill:none;
  }

  
      #animate4 {
  animation: deform4 1s ease 5s  forwards;
  stroke:#FFC585;
  stroke-width:8px;
  fill:#FFEBBD;
  }
